@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Orbitron:wght@900&family=Permanent+Marker&display=swap");
* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Nunito", sans-serif;
  padding: 20px;
}

.page1 {
  background: url("background.png");
  color: #262224;
  height: 100vh;
  background-attachment: fixed;
  background-position: left;
  position: relative;
}

.container {
  text-align: center;
}

#countdown {
  margin-top: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#countdown li {
  display: inline-block;
  list-style-type: none;
  text-transform: uppercase;
}

#countdown li span {
  display: block;
  padding: 0px 10px 0px 10px;
  margin-left: 80px;
}

.time,
.time1 {
  font-family: "Permanent Marker", cursive;
  font-size: 80px;
  font-weight: 900;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(232, 77, 214, 0.8),
    rgb(232, 77, 214) 99%,
    rgb(232, 77, 214, 0.8)
  );
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  border-radius: 2px 8px;
}

.time {
  transform: skew(0, -2deg);
}

.time1 {
  transform: skew(-2deg, 0);
}

.label,
.label1 {
  font-family: "Nunito", sans-serif;
  font-size: 30px;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(6, 224, 230, 0.8),
    rgb(6, 224, 230) 90%,
    rgb(6, 224, 230, 0.8)
  );
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  border-radius: 2px 1px;
}
.label {
  transform: skew(-2deg, 0);
}

.label1 {
  transform: skew(0, -2deg);
}

@media (max-width: 768px) {
  .container {
    background-color: rgba(0, 0, 0, 0.65);
  }
  h1 {
    color: white;
  }
  .page1 {
    background-size: contain;
  }

  .time,
  .time1 {
    font-size: 30px;
    margin-left: 0px;
  }

  .label,
  .label1 {
    font-size: 10px;
  }

  #countdown li span {
    padding: 10px;
    margin: 0px;
  }
}

