@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');*
 {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1 {
  font-family: 'Roboto Flex', sans-serif;
  padding: 20px;
}

.page1 {
  background: url("bg-web.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.container {
  position: absolute;
  top: 50%;
  right: -25%;
}
#headline{
  color:White;
}

#countdown {
  text-align: center;
}

#countdown li {
  display: inline-block;
  list-style-type: none;
  text-transform: uppercase;
}

#countdown li span {
  display: block;
  padding: 0px 10px 0px 10px;
  margin-left: 30px;
}

.time,
.time1 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 50px;
  font-weight: 900;
  background-color: #FFDA8F;
}

.time {
  transform: skew(0, -2deg);
}

.time1 {
  transform: skew(-2deg, 0);
}

.label,
.label1 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 30px;
  background-color: #FFDA8F;
}
.label {
  transform: skew(-2deg, 0);
}

.label1 {
  transform: skew(0, -2deg);
}

.subscribe {
  position: absolute;
  top: 20%;
  right: 5%;
}

#content {
  display: none;
  text-align: center;
  top: 50%;
}

a {
  color: white;
}

a.button1 {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFDA8F;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.3em;
  box-sizing: border-box;
  font-weight: 300;
  color: #FFDA8F;
  text-align: center;
  transition: all 0.2s;
  font-size: 2em;
  text-decoration: none;
}
a.button1:hover {
  color: white;
  border: 0.1em solid white;
}

@media (max-width: 768px) {
  .page1 {
    background: url("bg-mobile.png");
    background-repeat: repeat;
    overflow: scroll;
  }

  .subscribe {
    overflow: hidden;
    right: auto;
    left: 11%;
    top: 79%;
    margin: 30px 0px;
  }

  iframe {
    width: auto;
  }

  .container {
    background-color: rgba(0, 0, 0, 0.65);
    right: 0;
    top: 150%;
  }
  h1 {
    color: white;
  }
  .page1 {
    background-size: contain;
  }

  .time,
  .time1 {
    font-size: 30px;
    margin-left: 0px;
  }

  .label,
  .label1 {
    font-size: 10px;
  }

  #countdown li span {
    padding: 10px;
    margin: 0px;
  }
  .row {
    margin-bottom: 50px;
  }

  #content {
    top: 100%;
    color: white;
    /* height: 400px; */
  }

  small {
    padding-bottom: 400px;
  }

  a.button1 {
    margin: 0.5em auto;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    right: -13%;
  }
  .subscribe {
    bottom: -20%;
    right: 11%;
  }
}
